@import 'src/styles/shared.scss';

$loader-size: 250px;

.LoadingContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Loader {
  color: $theme-colour;
  height: $loader-size;
  width: $loader-size;
  max-width: 100%;
  max-height: 100%;
}
