.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 23px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
}
