.CustomButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  outline: 0;
  border-style: solid;
}
