@import '../styles/global.scss';

.Container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Header {
  background: #007fb3;
  color: white;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: center;
}

.HeaderLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HeaderContent {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > h1 {
    padding-top: 3px;
  }
}
